<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
    <script src="lib/x2json.js"></script>
  </head>

  <body ng-app="app" ng-controller="MainController">
    <h1>San Francisco Muni Map</h1>
    <div class="display"></div>
    <div class="routes">
      <div class="route" ng-repeat="route in routes">{{route._title}}</div>
    </div>
    
    <script src="app.js"></script>
  </body>
</html>