<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
    <script src="lib/x2json.js"></script>
  </head>

  <body ng-app="app" ng-controller="MainController">

    <div class="header">
      <div class="title">
        <h1>San Francisco Muni Map</h1>
      </div>

      <div class="routeInfo">
        <h2 class="selected">{{highlightRoute}}</h2>
        <label>Filter routes: </label><input ng-model="routeFilter._title"></input>
        <hr>
      </div>
    </div>
    
    <div class="display"></div>

    <div class="routes">
      <div class="route" ng-repeat="route in routes | filter : routeFilter" ng-mouseover="setActive(route._title)">{{route._title}}</div>
    </div>
    
    <script src="app.js"></script>
  </body>
</html>