body {
  background-color: #999999;
  font-family: monospace;
}

h1 {
  color: white;
}

svg {
  border: 3px solid orangered;
  border-radius: 20px;
}

.clearFloat {
  clear: both;
}

.header {
  height: 100px;
}

.routeInfo {
  float: right;
}

.display, .title {
  float: left;
}

.routes {
  padding-top: 50px;
}

.route {
  background-color: white;
  margin: 2px;
  float: left;
  padding: 4px;
  border: 1px solid orangered;
  border-radius: 6px;
  font-size: 10px;
}